In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2020-08-23 19:25:19,42.10,-79.24,81.0,69,75,5.82
1,1,Cap Malheureux,MU,2020-08-23 19:28:37,-19.98,57.61,68.0,80,39,8.99
2,2,Asau,RO,2020-08-23 19:28:38,46.43,26.40,64.0,87,0,2.17
3,3,Aktau,KZ,2020-08-23 19:24:47,43.65,51.20,66.2,68,100,6.71
4,4,Busselton,AU,2020-08-23 19:28:38,-33.65,115.33,43.0,79,2,4.21

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2020-08-23 19:25:19,42.10,-79.24,81.00,69,75,5.82
5,5,Hasaki,JP,2020-08-23 19:28:38,35.73,140.83,75.20,100,75,4.70
6,6,Santa Cruz,BO,2020-08-23 19:25:20,-17.80,-63.17,78.80,36,0,14.99
8,8,Pacific Grove,US,2020-08-23 19:27:50,36.62,-121.92,78.01,60,40,3.36
10,10,Cefalu,IT,2020-08-23 19:28:38,38.04,14.02,78.01,85,0,1.99
12,12,Atuona,PF,2020-08-23 19:28:38,-9.80,-139.03,78.15,79,29,17.90
14,14,Butaritari,KI,2020-08-23 19:28:38,3.07,172.79,83.03,68,100,10.54
15,15,San Quintin,MX,2020-08-23 19:28:38,30.48,-115.95,79.38,59,0,9.26
26,26,Kasur,PK,2020-08-23 19:28:39,31.12,74.45,86.00,79,20,8.16
28,28,Sinnamary,GF,2020-08-23 19:28:39,5.38,-52.95,84.56,71,57,11.10

In [15]:
preferred_cities_df.count()

City_ID       204
City          204
Country       204
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0       Jamestown      US     81.00  42.10  -79.24
5          Hasaki      JP     75.20  35.73  140.83
6      Santa Cruz      BO     78.80 -17.80  -63.17
8   Pacific Grove      US     78.01  36.62 -121.92
10         Cefalu      IT     78.01  38.04   14.02
12         Atuona      PF     78.15  -9.80 -139.03
14     Butaritari      KI     83.03   3.07  172.79
15    San Quintin      MX     79.38  30.48 -115.95
26          Kasur      PK     86.00  31.12   74.45
28      Sinnamary      GF     84.56   5.38  -52.95

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Jamestown,US,81.00,42.10,-79.24,Hampton Inn & Suites Jamestown
5,Hasaki,JP,75.20,35.73,140.83,Inubosaki Kanko Hotel
6,Santa Cruz,BO,78.80,-17.80,-63.17,Hotel Cortez
8,Pacific Grove,US,78.01,36.62,-121.92,Lovers Point Inn
10,Cefalu,IT,78.01,38.04,14.02,Hotel La Giara
...,...,...,...,...,...,...
559,Barraute,CA,77.00,48.43,-77.63,Auberge La Fille d'à côté
563,Rayachoti,IN,79.57,14.05,78.75,Swetha lodge
564,Sur,OM,79.63,22.57,59.53,Sur Plaza Hotel
574,Ziniare,BF,86.00,12.58,-1.30,Privilège Hôtel de Ziniaré
575,Huron,US,86.00,41.15,-82.55,

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]